@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: "Space Grotesk", "sans-serf";
    font-size: 16px;
}

.team-name-header{
    height: 50px;
    color: white;
    padding: 5px;
}

.main-container{
    display: flex;
    flex-direction: row;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.left-container{
    background-image: url("images/bg-main-desktop.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}

.right-container{
    background-color: white;
}

.card1 {
    background-image: url("images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 450px;
    height: 245px;
    color: white;
}

.card1 img{
    margin-left: 20px;
    margin-top: 20px;
}

/* display of the card number */
.card-number {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* cardholder's info at the bottom of the card */
.bottom-of-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-top: 45px;
}

.card2 {
    background-image: url("images/bg-card-back.png");
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 245px;
    width: 449px;
    margin-left: 250px;
}

/* the form */
.form {
    margin-top: 150px;
    margin-left: 50px;
    min-height: 400px;
    width: 499px;
    display: flex;
    padding: 10px;
    align-items: center;
    padding-top: 2rem;
}

.form input{
    display: block;
}

.cardinput {
    height: 30px;
    width: 300px;
    padding-left: 1rem/* 20px */;
    padding-right: 1rem/* 20px */;  
    border-width: 1px;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    border-radius: 0.375rem/* 6px */; 
}

/* styling for the labels for expiration and CVC */
#labels-expiration-cvc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

/* input fields for the expiration dates & CVC */
#inputs-expiration-cvc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardmonth, .cardyear {
    height: 30px;
    width: 70px;
    border-radius: 0.375rem;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    border-radius: 0.375rem/* 6px */; 
    padding-left: .5rem;
    padding-right: .5rem;  
    border-width: 1px;
}

/* for the word cvc*/
.cardwords-cvc {
    margin-right: 250px;
    
}
.cardcvc {
    height: 30px;
    width: 100%;
    border-radius: 5px;
}

/* margins & paddings for error messages */
.inputs, .inputs-expiration-cvc{
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.cardyear {
    margin-left: 5px;
}

.cardinput {
    width: 100%;
}
/* success messages */
.inputs small, .expiration-cvc small{
    visibility: hidden;
}

.inputs.success input {
    border: green solid 2px;
}

/* error messages */
.inputs.error input {
    border: red solid 2px;
}

.inputs.error small{
    visibility: visible;
    color: red;
    
}

/* styling for the submit button */
button {
    color: white;
    background-color:hsl(278, 68%, 11%) ;
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 6px;
    display: block;
    font-size: 18px;
}


/*  Thank you / Confirmation Form */

.thankyou-form{
    display: none;
    padding-top: 3rem;
    justify-content: center;
    flex-direction: column;
    margin-left: 24rem;
    width: auto;
    
   }
   
   .thankyou-img{
   width: 4rem;
   align-self: center;
   height: 4rem;
   margin-top: 1rem;
   }
   
   .thankyou-title{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1rem;
    align-self: center;
   }
   
   .thank-you-info{
   margin-top: 1rem;
   align-self: center;
   }
   
   .thankyou-button{
   color: white;
   background-color: hsl(278, 68%, 11%);
   margin-top: 2rem;
   height: 3rem;
   width: 20rem;
   border-radius: 6px;
   letter-spacing: 0.025em;
   }

/* styling for the confirmation page */


@media only screen and (max-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }    
    body{
        font-family: 'Play', sans-serif;
    }
    .main-container{
        display: flex;
        flex-direction: column
    }

    .left-container{
        background-image: url("images/bg-main-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 100%;
    }
    
    .right-container{
        background-color: white;
        position: absolute;
        z-index: -1;
    }

    .card1 {
        background-image: url("images/bg-card-front.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        margin-top: 100px;
        margin-left: 10px;
        float: right;
        margin-right: 100px;
        margin-bottom: 100px;
        width: 250px;
        height: 150px;
    }

    .card1 img{
        margin-left: 20px;
        margin-top: 20px;
    }

    .card-number {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: x-small;
        margin-right: 30px;
    }

    /* cardholder's info at the bottom of the card */
    .bottom-of-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        margin-top: 5px;
    }

    .card2 {
        background-image: url("images/bg-card-back.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        height: 150px;
        width: 250px;
        margin-top: 20px;
        margin-left: 50px;
    }

    /* the form */
    .form {
        margin-top: 300px;
        margin-left: 10px;
        min-height: 400px;
        display: flex;
        width: 100%;
    }

    .form input{
        display: block;
        width: 90%;
    }
    
    .cardinput {
        height: 30px;
        width: 300px;
        border-radius: 5px;
    }
    
    /* styling for the labels for expiration and CVC */
    #labels-expiration-cvc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        /* input fields for CVC */
    .cardwords-exp {
        margin-left: 10px
    }
    /* input fields for CVC */
    .cardwords-cvc {
        margin-right: 100px;
    }

    .cardyear {
        margin-left: 10px;
    }
    
    /* input fields for the expiration dates & CVC */
    #inputs-expiration-cvc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .cardmonth, .cardyear {
        height: 30px;
        width: 70px;
        border-radius: 5px;
    }
    
    .cardcvc {
        height: 30px;
        width: 100%;
        border-radius: 5px;
    }
    
    /* margins & paddings for error messages */
    .inputs, .inputs-expiration-cvc{
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    
    /* success messages */
    .inputs small, .expiration-cvc small{
        visibility: hidden;
    }
    
    .inputs.success input {
        border: green solid 2px;
    }
    
    /* error messages */
    .inputs.error input {
        border: red solid 2px;
    }
    
    .inputs.error small{
        visibility: visible;
        color: red;
    }
    
    /* styling for the submit button */
    button {
        color: white;
        background-color: black;
        width: 90%;
        border: 10px solid black;
        padding: 10px;
        border-radius: 5px;
        display: block;
        font-size: 18px;
        margin-left: 5px;
    }
  }

